// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: purple;

// Typography
h1{font-family: termina, sans-serif;
font-style: normal;
font-weight: 700;
}
// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}